<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Video</title>
</head>
<body>
    <h1>Video Download</h1>
    <p><strong>Video Name:</strong> {{ name_of_the_video }}</p>
    <p><strong>Quality:</strong> {{ quality }}p</p>
    <p><strong>Link:</strong> {{ download_link|safe}}</p>
    <p><strong>Location:</strong> {{ location}}</p>
    <h4>*NOTE* if the download quality is not as required it might be possible that the video was not available in asked quality</h4>
</body>
</html>
